<li class="bg-gray-100 rounded-lg flex items-center p-3 m-2 border-b border-gray-300">

    <input
        type="checkbox"
        (click)="toggleCheckbox()"
        [checked]="todo.done"       //serve a legare lo stato del checkbox alla proprietà done del todo corrente
    >

    <span
        [class.done]="todo.done"
        class="flex-1 min-w-0 text-center">
    {{todo.text}}
    </span>

    @if (!paginaEliminate) {
        <button 
            (click)="rimuoviAttivita()"
            >
            🗑️
        </button>
    }

</li>